<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BikeMap</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">

    <!-- Leaflet Map CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

    <!-- App CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'bikemap/css/main.css' %}">
</head>

<body>
    <div class="header p-3">
        <h2>BikeMap</h2>
    </div>
    <div class="container-fluid">
        <div class="content">
            <div class="row">
                <!-- Route list on sidebar -->
                <div class="col col-lg-3 sidebar">
                    <div id="route-list"></div>
                </div>
                <div class="col col-lg-9 map-container">
                    <div class="active-route-header">
                        <button type="button" class="btn btn-primary float-md-right" data-toggle="modal" data-target="#createRouteModal">Add Route</button>
                        <h3>Name: <span id="active-route-name"></span></h3>
                    </div>
                    <!-- Leaflet Map container -->
                    <div id="L-map"></div>
                </div>
            </div>

        </div>
    </div>

    <!-- Create and Update Modals -->
    {% include 'createRoute.html' %}
    {% include 'updateRoute.html' %}

    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Leaflet Map script -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <!-- App scripts -->
    <script src="{% static 'bikemap/js/constants.js' %}"></script>
    <script src="{% static 'bikemap/js/LMap.js' %}"></script>
    <script src="{% static 'bikemap/js/utils.js' %}"></script>
    <script src="{% static 'bikemap/js/main.js' %}"></script>
</body>
</html>